In [3]:
import numpy as np
import pandas as pd
import bamboolib as bam

In [6]:
f = pd.read_excel("gtd.xlsx")

In [7]:
countries = pd.DataFrame(f, columns=['country_txt'])
countries = countries.dropna(axis=0, how='any')

In [9]:
f

             eventid  iyear  imonth  iday           approxdate  extended  \
0       197000000001   1970       7     2                  NaN         0
1       197000000002   1970       0     0                  NaN         0
2       197001000001   1970       1     0                  NaN         0
3       197001000002   1970       1     0                  NaN         0
4       197001000003   1970       1     0                  NaN         0
...              ...    ...     ...   ...                  ...       ...
209701  202012310015   2020      12    31  2020-12-31 00:00:00         0
209702  202012310016   2020      12    31  2020-12-31 00:00:00         0
209703  202012310017   2020      12    31                  NaN         0
209704  202012310018   2020      12    31                  NaN         0
209705  202012310019   2020      12    31                  NaN         1

       resolution  country         country_txt  region  ... addnotes  \
0             NaT       58  Dominican Republic       2  ...      NaN
1             NaT      130              Mexico       1  ...      NaN
2             NaT      160         Philippines       5  ...      NaN
3             NaT       78              Greece       8  ...      NaN
4             NaT      101               Japan       4  ...      NaN
...           ...      ...                 ...     ...  ...      ...
209701        NaT      228               Yemen      10  ...      NaN
209702        NaT      228               Yemen      10  ...      NaN
209703        NaT       75             Germany       8  ...      NaN
209704        NaT        4         Afghanistan       6  ...      NaN
209705        NaT       33        Burkina Faso      11  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701  "Al Houthi militia escalated in Hays and targe...
209702  "Al Houthi militia escalated in Hays and targe...
209703  "Far-left arson attack suspected on German asy...
209704  "Civil society activist and tribal elder kille...
209705  "Terrorism Digest: 3-4 Jan 21," BBC Monitoring...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701                                                NaN
209702                                                NaN
209703  "Fire of Bundeswehr vehicles in Leipzig, proba...
209704  "Terrorism Digest: 1-2 Jan 21," BBC Monitoring...
209705                                                NaN

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701                                                NaN
209702                                                NaN
209703  "Anarchist Antifa Take Credit for Arson Attack...
209704                                                NaN
209705                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
209701  START Primary Collection        0         0        0       0      NaN
209702  START Primary Collection        0         0        0       0      NaN
209703  START Primary Collection       -9        -9        0      -9      NaN
209704  START Primary Collection       -9        -9        0      -9      NaN
209705  START Primary Collection       -9        -9        0      -9      NaN

[209706 rows x 135 columns]