Adatkészletünkben az 1970 óta történt terroreseményeket vizsgáljuk, a teljes világra kiterjedően.

In [1]:
import numpy as np
import pandas as pd
import bamboolib as bam

In [2]:
f = pd.read_excel("gtd.xlsx")

Első intuíciónk összesíteni, hogy mely országokban történt a legtöbb esemény.

In [3]:
f

             eventid  iyear  imonth  iday           approxdate  extended  \
0       197000000001   1970       7     2                  NaN         0
1       197000000002   1970       0     0                  NaN         0
2       197001000001   1970       1     0                  NaN         0
3       197001000002   1970       1     0                  NaN         0
4       197001000003   1970       1     0                  NaN         0
...              ...    ...     ...   ...                  ...       ...
209701  202012310015   2020      12    31  2020-12-31 00:00:00         0
209702  202012310016   2020      12    31  2020-12-31 00:00:00         0
209703  202012310017   2020      12    31                  NaN         0
209704  202012310018   2020      12    31                  NaN         0
209705  202012310019   2020      12    31                  NaN         1

       resolution  country         country_txt  region  ... addnotes  \
0             NaT       58  Dominican Republic       2  ...      NaN
1             NaT      130              Mexico       1  ...      NaN
2             NaT      160         Philippines       5  ...      NaN
3             NaT       78              Greece       8  ...      NaN
4             NaT      101               Japan       4  ...      NaN
...           ...      ...                 ...     ...  ...      ...
209701        NaT      228               Yemen      10  ...      NaN
209702        NaT      228               Yemen      10  ...      NaN
209703        NaT       75             Germany       8  ...      NaN
209704        NaT        4         Afghanistan       6  ...      NaN
209705        NaT       33        Burkina Faso      11  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701  "Al Houthi militia escalated in Hays and targe...
209702  "Al Houthi militia escalated in Hays and targe...
209703  "Far-left arson attack suspected on German asy...
209704  "Civil society activist and tribal elder kille...
209705  "Terrorism Digest: 3-4 Jan 21," BBC Monitoring...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701                                                NaN
209702                                                NaN
209703  "Fire of Bundeswehr vehicles in Leipzig, proba...
209704  "Terrorism Digest: 1-2 Jan 21," BBC Monitoring...
209705                                                NaN

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701                                                NaN
209702                                                NaN
209703  "Anarchist Antifa Take Credit for Arson Attack...
209704                                                NaN
209705                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
209701  START Primary Collection        0         0        0       0      NaN
209702  START Primary Collection        0         0        0       0      NaN
209703  START Primary Collection       -9        -9        0      -9      NaN
209704  START Primary Collection       -9        -9        0      -9      NaN
209705  START Primary Collection       -9        -9        0      -9      NaN

[209706 rows x 135 columns]

Láthatjuk, hogy közel-keleti országokban kimagasló arányban fordulnak elő terroresemények, a top 2 ország az esetek 1/5-ét foglalja magába.

In [4]:
countries = pd.DataFrame(f, columns=['country_txt','country'])
countries = countries.groupby('country_txt').count()
import pandas as pd; import numpy as np
countries = countries.reset_index()
countries = countries.rename(columns = {'country' : 'count'})
countries

     country_txt  count
0    Afghanistan  18920
1        Albania     82
2        Algeria   2753
3        Andorra      1
4         Angola    501
..           ...    ...
199        Yemen   6027
200   Yugoslavia    203
201        Zaire     50
202       Zambia     62
203     Zimbabwe    106

[204 rows x 2 columns]

Boxploton jobban vizsgálhatóak a kiugró országok. Érdemes lehet ezeket jobban megvizsgálni, pl.: évente hány terrorcselekmény történt, azaz köthető-e bizonyos eseménysorozatokhoz (valószínűleg igen).

Vizsgáljunk meg egy ilyen országot:

In [11]:
iraqiEvents = pd.DataFrame(f, columns = ['country_txt', 'iyear'])[f.country_txt == 'Iraq']
iraqiEvents = iraqiEvents.groupby('iyear').count()
iraqiEvents = iraqiEvents.reset_index()
iraqiEvents = iraqiEvents.rename(columns = {'country_txt' : 'count'})
iraqiEvents

    iyear  count
0    1975      1
1    1976      3
2    1979      2
3    1980      6
4    1981      3
5    1982      5
6    1983      3
7    1984      2
8    1987      3
9    1988      4
10   1989      4
11   1991      3
12   1992     35
13   1994     18
14   1995     17
15   1996     12
16   1997     21
17   1998      7
18   1999     12
19   2000     10
20   2001      3
21   2002      6
22   2003    102
23   2004    323
24   2005    617
25   2006    837
26   2007   1045
27   2008   1106
28   2009   1137
29   2010   1179
30   2011   1308
31   2012   1435
32   2013   2852
33   2014   3934
34   2015   2751
35   2016   3395
36   2017   2548
37   2018   1364
38   2019    644
39   2020    764

Látható, hogy pédául Irakban 2003-2007 között kedződött a terrorcselekmények felfutása, és még napjainkban is jelen van (de a tendencia csökkenő).

Az alábbi korrelációs mátrix segítségével összefüggéseket próbálunk keresni a támadás tulajdonságai és eredményei között, helyszínfüggetlenül.

In [5]:
f

             eventid  iyear  imonth  iday           approxdate  extended  \
0       197000000001   1970       7     2                  NaN         0
1       197000000002   1970       0     0                  NaN         0
2       197001000001   1970       1     0                  NaN         0
3       197001000002   1970       1     0                  NaN         0
4       197001000003   1970       1     0                  NaN         0
...              ...    ...     ...   ...                  ...       ...
209701  202012310015   2020      12    31  2020-12-31 00:00:00         0
209702  202012310016   2020      12    31  2020-12-31 00:00:00         0
209703  202012310017   2020      12    31                  NaN         0
209704  202012310018   2020      12    31                  NaN         0
209705  202012310019   2020      12    31                  NaN         1

       resolution  country         country_txt  region  ... addnotes  \
0             NaT       58  Dominican Republic       2  ...      NaN
1             NaT      130              Mexico       1  ...      NaN
2             NaT      160         Philippines       5  ...      NaN
3             NaT       78              Greece       8  ...      NaN
4             NaT      101               Japan       4  ...      NaN
...           ...      ...                 ...     ...  ...      ...
209701        NaT      228               Yemen      10  ...      NaN
209702        NaT      228               Yemen      10  ...      NaN
209703        NaT       75             Germany       8  ...      NaN
209704        NaT        4         Afghanistan       6  ...      NaN
209705        NaT       33        Burkina Faso      11  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701  "Al Houthi militia escalated in Hays and targe...
209702  "Al Houthi militia escalated in Hays and targe...
209703  "Far-left arson attack suspected on German asy...
209704  "Civil society activist and tribal elder kille...
209705  "Terrorism Digest: 3-4 Jan 21," BBC Monitoring...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701                                                NaN
209702                                                NaN
209703  "Fire of Bundeswehr vehicles in Leipzig, proba...
209704  "Terrorism Digest: 1-2 Jan 21," BBC Monitoring...
209705                                                NaN

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
209701                                                NaN
209702                                                NaN
209703  "Anarchist Antifa Take Credit for Arson Attack...
209704                                                NaN
209705                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
209701  START Primary Collection        0         0        0       0      NaN
209702  START Primary Collection        0         0        0       0      NaN
209703  START Primary Collection       -9        -9        0      -9      NaN
209704  START Primary Collection       -9        -9        0      -9      NaN
209705  START Primary Collection       -9        -9        0      -9      NaN

[209706 rows x 135 columns]